body, html {
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
  }
img {
    margin-top: -63px;
}
.fb {
    width: 50%;
    color: white;
    padding: 15px 15px 5px 90px;
}
.container {
    width: 100%;
    padding: 0;
    margin-bottom: 36px;
}
  .bgimg-1 {
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    margin: -94px 18px 25px -15px;
    height: 100%;
  }
  .jumbotron {
      margin-top: 41px;
    height:370px;
    background-size: cover;
    padding: 8.9rem 0rem;
    background-image: url("./assets/images/engph.jpg");
    background-repeat: no-repeat;
  }
  .logo {
    position: relative;
    left: 10%;
    width: 100%;
    z-index: 1;
  }
.backgrnd {
    width: 100%;
}
img2 {
    position: relative;
    border: 0;
    margin-top: 0px;
    width: 100%;
    z-index: -1;
}
label {
    margin-top: 22px;
}
.trrow {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: black;
    border: #333;
}
.card-title {
    margin-top: 25px;
    margin-bottom: 5px;
}
.card {
    margin: 50px 50px 50px 50px;
}
.row {
    display: flex;
    background-color: white;
    border-radius: 7px;
    margin: 25px 0px 0px 0px;
}
.row h2 {
    margin: 0 auto;
    color: aliceblue;
    overflow: auto;
    text-align: center;
    background-color: #333;
}
h1 {    
    color: black;
    font-weight: bolder;
    height: 26px;
}
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45pt;
    color: white;
    background-color: #333;
}
.time-input {
    margin-left: 1px;
}
.card-secondary {
    width: 100%;
    margin: 20px auto;
}
.bg {
    width: 100%;
}
.lgo {
    margin: 30px 25px -1px -45px;
}
body {
    margin:0px;
    background-color: lightgrey;
}
.contain {
    width: 65%;
    height: 55px;
    margin: 0 auto;
    background-color: white;
}
nav ul li {
    float: left;
    list-style: none;
    list-style-type: none;
    margin: 25px 15px;
}
nav .menu  {
    margin-right: 25px;
    float: right;
    margin-top: -107px;
    color: black;
}
hr {
    margin-top: 25px;
    margin-bottom: 25px;
}
nav {
    height: 100px;
    width: 73%;
    margin: 0px auto;
}
main img {
    margin: 0 20px 30px 20px;
}

footer {
    border-top:10px solid #ffaf03;
    text-align: center;
    background: #333;
    color: white;
    position: fixed;
    padding: 45px 0px 20px 0px;
    bottom: 0;
    width: 100%;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 52px 25px;
}
li {
    float: right;
    font-family: arial;
}
.form-group {
    margin: 31px 0px 0px 14px;
}
.table-info,.card-headng
{ 
    margin-top:10px;
    margin-left: 10px;
    width: 100%;
}
.student-info
{
    margin-top: 50px;
    width:100%;
} 
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    margin-bottom: 25px;
}
.panel-body-info
{
    margin-left: 10px;
    width:100%;
    height:250px;
    overflow: scroll;
}
.arrival-date
{
    width:170px;
}

.arrival-time
{
    width:170px;
}